@page
@model Assignment2.Pages.Error.IndexModel
@{
    ViewData["Title"] = "403 - Forbidden";
}

<div class="container py-5 text-center">
    <h1>403 - Forbidden</h1>
    <p class="lead">You do not have permission to view this resource.</p>
    <a asp-page="/Index" class="btn btn-primary">Back to home</a>
</div>
