@page
@model Assignment2.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Token" />
    <div class="form-group">
        <label>New password</label>
        <input asp-for="NewPassword" class="form-control" />
    </div>
    <button class="btn btn-primary">Reset password</button>
</form>
