@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Ace Job Agency. <a asp-area="" asp-page="/Account/Register">Register</a> or <a asp-area="" asp-page="/Account/Login">Login</a>.</p>
</div>
